<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title id="titulo">
        ExploringApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <ion-content padding>
      <ion-list>
    
        <ion-item id="input_redondeado">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" class="input_redondeado"></ion-input>
        </ion-item>
        
        <ion-item id="input_redondeado">
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        
        </ion-list>
    
        <ion-button fill="solid" expand="block" class="btn_logueo" >Iniciar Sesión</ion-button>
        <ion-text color="secondary">
          <p></p>
          <p id="parrafo">Ó</p>
        </ion-text>
        <ion-button fill="fill" expand="block" color="ligh" id="btn_google"><ion-icon name="logo-google"></ion-icon> <ion-text></ion-text>
          Entrar con Google</ion-button>
        <ion-button fill="fill" expand="block" color="ligh" id="btn_registrarse">Registrarse</ion-button>
    </ion-content>
  </ion-content>
</ion-content>